<%
    viewObject.pageTitle = "Goasst";
    viewObject.showSidebar = true;
    viewObject.pushStyle = ``;
    viewObject.bodyContent = `
        <h2>Welcome</h2>
        <p>This is the welcome page ${viewObject.showSidebar ? "With" : "Without"} sidebar.</p>
    `;

    viewObject.pushScript = `
        <script>
            
        </script>`;

    layout('layouts/master');
%>